span#navToggler {
  display: block;
  position: absolute;
  z-index: 99999;
  padding: 1em;
  color: white;
  cursor: pointer;
  left: 0;
}

.active {
  display: flex !important;
}

@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 968px) {
  span#navToggler {
    display: none;
  }
  nav#navbar {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    background-color: transparent !important;
    display: flex !important;
    position: relative !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
}
nav#navbar {
  display: none;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(34, 76, 141, 0.8);
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.2em;
  padding-bottom: 1em;
  position: absolute !important;
  z-index: 9999;
  -webkit-animation: moveToRight 0.5s ease-in-out;
          animation: moveToRight 0.5s ease-in-out;
  -webkit-animation-delay: 10ms;
          animation-delay: 10ms;
}
@-webkit-keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
}
nav#navbar img#logo {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}
nav#navbar ul#nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}
nav#navbar ul#nav li {
  display: block;
}
nav#navbar ul#nav a {
  color: white;
  display: block;
  font-size: 1.2em;
  font-family: sans-serif;
  padding: 1em;
  letter-spacing: 0.2em;
  text-decoration: none;
  transition: all 1s;
  transform-origin: 50% 50%;
}
nav#navbar ul#nav a:hover {
  color: burlywood;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  transform: scale(1.2);
}
nav#navbar span {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
nav#navbar span label {
  color: white;
  display: flex;
  font-family: sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(0.5em, 3vw, 0.9em);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #224c8d;
}

@media only screen and (max-width: 600px) {
  .content {
    align-items: center;
    display: flex !important;
    flex-direction: column;
  }
  .content img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .content #content__overlay {
    align-items: center !important;
    display: flex !important;
    flex-direction: column;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
.content {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}
.content img {
  width: 100%;
  max-height: 100vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.content #content__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  position: absolute;
  top: 0;
}
.content #content__overlay #member {
  width: 80%;
  height: inherit;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content #content__overlay img#avatar {
  width: 250px;
  height: 250px;
  border: 0.4em solid cornflowerblue;
  border-radius: 100vmax;
  display: block;
}
.content #content__overlay img#avatar img {
  width: inherit;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
.content #content__overlay label#skill {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: burlywood;
  display: block;
  font-size: 1.2em;
  font-family: sans-serif;
  padding-top: 1em;
  text-align: center;
}
.content #content__overlay label#title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
}
.content #content__overlay ul#social {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 2em;
}
.content #content__overlay ul#social li {
  height: inherit;
  list-style: none;
  list-style-type: none;
}
.content #content__overlay ul#social a {
  display: block;
  height: inherit;
  text-decoration: none;
}
.content #content__overlay ul#social a img#social__icon {
  height: inherit;
  transition: all 1s;
  transform-origin: 50% 50%;
}
.content #content__overlay ul#social a img#social__icon:hover {
  transform: scale(1.2);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=style.css.map */