.card {
  width: 16em;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.6);
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;

  a {
    background-color: var(--secondary);
    color: var(--black);
    text-decoration: none;

    h3 {
      font-size: clamp(0.8rem, 10vw, 1rem);
      font-weight: 600;
    }

    h3:hover {
      transform: scale(1.05);
    }
  }
}

.card-lg {
  width: 32em !important;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  display: flex;
  font-weight: 400;
  font-variant: small-caps;
  justify-content: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.5;
  position: absolute;
}
