.navbar {
    display: grid;
    margin: 0;

    .nav {
        display: grid;
        margin: 0;
        padding: 0;

        li {
            display: block;

            @media (max-width: 996px) {
                a {
                    justify-content: center !important;
                }
            }

            a {
                align-items: center;
                color: var(--white);
                display: flex;
                font-size: 1em;
                gap: 1em;
                text-decoration: none;
                padding: 1em;
                padding-inline: 1.5em;

                label {
                    cursor: pointer;
                }

                svg {
                    fill: var(--white);
                }
            }

            a:hover {
                background-color: cornflowerblue;
                display: flex;

                label,
                svg {
                    font-weight: bold;
                    fill: var(--black);
                    color: var(--black);
                }
            }
        }
    }
}