span#navToggler {
    display: block;
    position: absolute;
    z-index: 99999;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.active {
    display: flex !important;
    transition: ease-in;
    transform-origin: left;
}

@media only screen and (max-width: 600px){
    nav#navbar{
        height: 100% !important;
        width: 100% !important;
    }
}

nav#navbar {
    display: none;
    align-items: center;
    height: 100%;
    min-width: 25%;
    background-color: rgba($color: #224c8d, $alpha: 0.8);
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    position: absolute;
    z-index: 9999;


    img#logo {
        max-width: 125px;
        height: auto;
    }

    ul#nav {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            display: block;
        }

        a {
            color: white;
            display: block;
            font-size: 1.2em;
            font-family: sans-serif;
            padding: 1em;
            letter-spacing: .2em;
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
            text-underline-offset: .3em;
            text-decoration-thickness: .1em;
        }
    }

    span {
        align-items: center;
        text-align: center;
        display: flex;

        label {
            color: white;
            display: flex;
            font-family: sans-serif;
            width: max-content;
        }
    }
}