.navbar {
    display: grid;
    margin: 0;

    @media (max-width: 996px) {

        .nav {
            place-content: center;

            li>a:hover {
                transform: scale(1.1);
                background-color: transparent !important;
                text-decoration: underline;
                text-underline-offset: .25rem;
                text-decoration-thickness: 0.15rem;

                label,
                svg {
                    fill: var(--white) !important;
                    color: var(--white) !important;
                }
            }
        }

    }

    .nav {
        display: grid;
        margin: 0;
        padding: 0;

        li {
            display: block;

            a {
                align-items: center;
                color: var(--white);
                display: grid;
                grid-template-columns: auto 1fr;
                font-size: 1em;
                gap: 1em;
                text-decoration: none;
                padding: 1em;
                padding-inline: 1.5em;

                label {
                    cursor: pointer;
                }

                svg {
                    fill: var(--white);
                }
            }

            a:hover {
                background-color: cornflowerblue;
                display: flex;

                label,
                svg {
                    font-weight: bold;
                    fill: var(--black);
                    color: var(--black);
                }
            }
        }
    }
}